.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

/* Basic CSS */

/* global */
body {
  display: flex;
  flex-direction: column;
  background-color: #758694;
  color: #FFF8F3;
  margin: 0;
}

h1 {
  margin: 0;
}

header {
  background-color: #405D72;
}

.text-emphasis {
  font-weight: bold;
  color: #F7E7DC;
}

/* nav-bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-logo {
  width: 100px;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
}

/* main-content */
.main-content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #405D72;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
